---
// src/components/Head.astro
const {
  title = "Entreprise multiservices près de Redon et Massérac - CJAL",
  description = "Artisan multiservices à Massérac et autour de Redon pour tous vos petits travaux du quotidien et bricolage à domicile.",
  ogTitle = "Artisan multiservices Redon Massérac - CJAL",
  ogDescription = "Maçonnerie, terrassement, bricolages : tous vos travaux à domicile près de Redon.",
  ogImage = "https://www.cjalmultiservices.fr/images/christophe-640w.webp",
  canonical = "https://www.cjalmultiservices.fr/",
  schema= null
} = Astro.props;
---

<!-- Base -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonical} />
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large" />
<meta name="google-site-verification" content="AEkeeS_c2Pxpw_fE-u61vdnuOhcNcrXppI3wBg-LUwE" />

<!-- Open Graph -->
<meta property="og:title" content={ogTitle} />
<meta property="og:description" content={ogDescription} />
<meta property="og:image" content={ogImage} />
<meta property="og:url" content={canonical} />
<meta property="og:type" content="website" />

<!-- Favicons -->
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="theme-color" content="#3a2d6f" />

<!-- JSON-LD LocalBusiness (global à tout le site) -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "CJAL Multiservices",
  "image": "https://www.cjalmultiservices.fr/images/christophe-640w.webp",
  "@id": "https://www.cjalmultiservices.fr/#business",
  "url": "https://www.cjalmultiservices.fr/",
  "telephone": "0667889634",
  "email": "cjalchristophedaval@gmail.com",
  "sameAs": ["https://www.facebook.com/profile.php?id=61574426724207"],
  "areaServed": "Massérac, Redon, Guémené-Penfao, Grand-Fougeray",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "4 la lombardie",
    "addressLocality": "Masserac",
    "postalCode": "44290",
    "addressCountry": "FR"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 47.68533499999999,
    "longitude": -1.889122
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": ["Monday","Tuesday","Wednesday","Thursday","Friday"],
    "opens": "08:00",
    "closes": "18:00"
  }
}
</script>
<!-- JSON-LD spécifique à la page (optionnel) -->
{schema && <script type="application/ld+json" set:html={JSON.stringify(schema)} />}
